<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="triangle" class="org.koushik.javabrains.Triangle">
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean>
	
	<bean id="pointA" class="org.koushik.javabrains.Point">
		<property name="x" value="${pointA.pointX}" />
		<property name="y" value="${pointA.pointY}" />
	</bean>
	
	<bean id="pointB" class="org.koushik.javabrains.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>
	
	<bean id="pointC" class="org.koushik.javabrains.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="locations" value="pointsconfig.properties" />
	</bean>
</beans>
	